.price-details-container{
    background-color: var(--background-color);
    padding:1.5rem;
    width:25rem;
    margin-left: auto;
    margin-top: 2rem;
    align-self: flex-start;
}
.geusts{
     border: 1px solid var(--container-border-colour);
     padding: 4px 0;
     text-align: left;
}
.gutter-sm{
    padding: 8px 1rem;
}
.btn-reserve{
    background-color: var(--primary-colour);
    width:100%;
    height: 4rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    color:var(--background-colour)
}
.price-distribution{
    padding-top: 1rem;
}
.final-price{
    padding: 0.8rem;
}
.final-price:last-child{
    border-top: 1px solid var(--container-border-colour);
}
.reserve-hr{
    width:100%
}
