.img-height{
    height: 15rem;
    
}
.heart{
    font-size: 1.5rem;
    color:var(--container-border-colour);
}
.bi-heart-fill{
    font-size:1.7rem;
}
.bi-heart-fill:hover{
    color:#dc2626;

}
.heart{
    color:#dc2626;
}